name: Build and Push Docker Images

on:
  push:
    branches:
      - main1

jobs:
  docker:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout code
    - name: Checkout
      uses: actions/checkout@v3

    # 2️⃣ Login to DockerHub
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3️⃣ Build API image
    - name: Build API Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/subbu-api:latest -f docker/Dockerfile.api .

    # 4️⃣ Build UI image
    - name: Build UI Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/subbu-ui:latest -f docker/Dockerfile.ui .

    # 5️⃣ Push API image
    - name: Push API image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/subbu-api:latest

    # 6️⃣ Push UI image
    - name: Push UI image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/subbu-ui:latest
